<h1><%= @sub.title.downcase %></h1>
Moderator: <%= @sub.moderator.username %>

<% @sub.posts.each_with_index do |post, i| %>
<h3><%= i + 1 %></h3>  <%= link_to "#{post.title}", post_url(post), method: :get %>
  <% if post.author_id == current_user.id %>
    <%= link_to "Edit Post", edit_post_url(post), method: :get %>
    <%= link_to "Delete Post", post_url(post), method: :delete %>
  <% end %>
<% end %>

<h2><%= button_to "Create a new post!", new_post_url, method: :get %></h2>
